[Unit]
Description=Startup commands
ConditionFileIsExecutable=/usr/local/bin/pipemenu-startup-commands

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pipemenu-startup-commands
TimeoutSec=0
StandardOutput=tty
RemainAfterExit=no
SysVStartPriority=99

[Install]
WantedBy=multi-user.target
